PORT=5001
GAMMA_API=https://gamma-api.polymarket.com
CLOB_API=https://clob.polymarket.com
DATA_API=https://data-api.polymarket.com
POLYMARKET_PROXY=true
NEWSDATA_API_KEY=your_newsdata_io_api_key_here
RSS2JSON_API_KEY=your_rss2json_api_key_here
